In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

In [2]:
dataset = pd.read_csv('heart_disease_data.csv')

In [3]:
dataset.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
dataset.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [5]:
dataset.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [6]:
dataset['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

In [7]:
X = dataset.drop(columns='target')
Y = dataset['target']
print(X)
print(Y)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal
0        0   0     1
1        0   0     2
2        2   0     2
3        2   0     2
4        2   0     2
..     ...  ..   ...
298      1   0     3
299      1   0     3
300      1   2     3
301      1   1     3
302      1   1     2

[303 rows x 13 columns]
0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [8]:
scaler = preprocessing.StandardScaler()
X = pd.DataFrame(scaler.fit_transform(X))
print(X)

           0         1         2         3         4         5         6   \
0    0.952197  0.681005  1.973123  0.763956 -0.256334  2.394438 -1.005832
1   -1.915313  0.681005  1.002577 -0.092738  0.072199 -0.417635  0.898962
2   -1.474158 -1.468418  0.032031 -0.092738 -0.816773 -0.417635 -1.005832
3    0.180175  0.681005  0.032031 -0.663867 -0.198357 -0.417635  0.898962
4    0.290464 -1.468418 -0.938515 -0.663867  2.082050 -0.417635  0.898962
..        ...       ...       ...       ...       ...       ...       ...
298  0.290464 -1.468418 -0.938515  0.478391 -0.101730 -0.417635  0.898962
299 -1.033002  0.681005  1.973123 -1.234996  0.342756 -0.417635  0.898962
300  1.503641  0.681005 -0.938515  0.706843 -1.029353  2.394438  0.898962
301  0.290464  0.681005 -0.938515 -0.092738 -2.227533 -0.417635  0.898962
302  0.290464 -1.468418  0.032031 -0.092738 -0.198357 -0.417635 -1.005832

           7         8         9         10        11        12
0    0.015443 -0.696631  1.087338 -2.274579 -0.714429 -2.148873
1    1.633471 -0.696631  2.122573 -2.274579 -0.714429 -0.512922
2    0.977514 -0.696631  0.310912  0.976352 -0.714429 -0.512922
3    1.239897 -0.696631 -0.206705  0.976352 -0.714429 -0.512922
4    0.583939  1.435481 -0.379244  0.976352 -0.714429 -0.512922
..        ...       ...       ...       ...       ...       ...
298 -1.165281  1.435481 -0.724323 -0.649113 -0.714429  1.123029
299 -0.771706 -0.696631  0.138373 -0.649113 -0.714429  1.123029
300 -0.378132 -0.696631  2.036303 -0.649113  1.244593  1.123029
301 -1.515125  1.435481  0.138373 -0.649113  0.265082  1.123029
302  1.064975 -0.696631 -0.896862 -0.649113  0.265082 -0.512922

[303 rows x 13 columns]

In [9]:
X_train, X_test, Y_train,Y_test = train_test_split(X,Y,train_size=0.8,random_state=2)

In [23]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

models = {
    LogisticRegression(max_iter=100):                    "Logistic Regression",
    SVC():                                   "Support Vector Machine",
    DecisionTreeClassifier(random_state=42): "Decision Tree",
    RandomForestClassifier(n_estimators=10, random_state=42): "Random Forest Classifier"

}

for model in models.keys():
    model.fit(X_train, Y_train)

In [24]:
for model, name in models.items():
    print(name + " accuracy on training data" +": {:.2f}%".format(model.score(X_train, Y_train) * 100))
    print(name + " accuracy on test data"+": {:.2f}%".format(model.score(X_test, Y_test) * 100))

Logistic Regression accuracy on training data: 82.64%
Logistic Regression accuracy on test data: 86.89%
Support Vector Machine accuracy on training data: 91.74%
Support Vector Machine accuracy on test data: 88.52%
Decision Tree accuracy on training data: 100.00%
Decision Tree accuracy on test data: 85.25%
Random Forest Classifier accuracy on training data: 98.76%
Random Forest Classifier accuracy on test data: 85.25%

In [14]:
NN_classifier = MLPClassifier(max_iter=1000)
NN_classifier.fit(X_train, Y_train)
accuracy = NN_classifier.score(X_test, Y_test)
print("Neural Network Accuracy: " + str(accuracy * 100) + "%")

Neural Network Accuracy: 83.60655737704919%